# Configuración del Servidor
PORT=3000

# Seguridad: CORS
# Orígenes permitidos (para desarrollo local suele ser localhost)
CORS_ORIGIN=http://localhost:5173,https://proyecto-casa-three.vercel.app

# Base de Datos (Supabase PostgreSQL o Local)
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

# Seguridad: JWT
JWT_SECRET=una_clave_secreta_and_larga_para_produccion
